# Virtual environment
/.venv/

# Data directory
#/data/

# Config directory
#/conf/

# Temporary files
__pycache__/
*.pyc







# The lines below should be removed when you start your own project
/data/development.sqlite3
/conf/whichenv.txt
