[Unit]
Description=Django Template Site
After=syslog.target

[Service]
WorkingDirectory={{ venv }}
{% if settings_override %}Environment=DJANGO_SETTINGS_MODULE={{ settings_override }}{% endif %}
ExecStart={{ venv }}/bin/uwsgi --ini uwsgi.ini
User={{ user }}
Group={{ group }}
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
