# Include an external constraints file to limit versions where needed
-c constraints.txt

# Core
Django									# https://docs.djangoproject.com/en/1.10/releases/
uWSGI									# https://uwsgi-docs.readthedocs.io/en/latest/#stable-releases

# Non-pypi packages
-e ../django-generate-dynamic-configs/
-e ../django-maint-mode-toggle/
-e ../django-rotate-secret-key/
