{% if settings.HTTPS_ENABLED %}
# Redirect all HTTP requests to HTTPS
server {
	listen									{{ settings.HTTP_PORT }};
	server_name								.{{ settings.DOMAIN_NAME }};
	return									301 https://www.{{ settings.DOMAIN_NAME }}$request_uri;
}
{% endif %}

# Main server
server {
{% if settings.HTTPS_ENABLED %}
	listen									{{ settings.HTTPS_PORT }} ssl;
	include									{{ settings.VENV_DIR }}/ssl.conf;
	ssl on;
	ssl_certificate							{{ settings.VENV_DIR }}/demo_keys/server.crt;
	ssl_certificate_key						{{ settings.VENV_DIR }}/demo_keys/server.key;
{% else %}
	listen									{{ settings.HTTP_PORT }};
{% endif %}

	server_name								.{{ settings.DOMAIN_NAME }};

	charset									utf-8;

	error_log								/var/log/nginx/{{ settings.PROJECT_NAME }}-error.log;
	access_log								/var/log/nginx/{{ settings.PROJECT_NAME }}-access.log;

	# max upload size
	client_max_body_size					75M;   # adjust to taste

	# Static files
	location {{ settings.STATIC_URL }} {
		alias								{{ settings.VENV_DIR }}/collected_static/;
		access_log							off;
	}

	# Static files
	location {{ settings.MEDIA_URL }} {
		alias								{{ settings.VENV_DIR }}/uploaded_media/;
		access_log							off;
	}

	# Finally, send all non-media requests to the Django server.
	location / {
		uwsgi_pass							unix://{{ settings.VENV_DIR }}/uwsgi.sock;
		include								/etc/nginx/uwsgi_params; # the uwsgi_params file you installed
	}

	# No need to fill the logs with attempts to access files that don't exist
	location = /favicon.ico {
		access_log							off;
	}
}
