[Unit]
Description=Django Site Template
After=syslog.target

[Service]
WorkingDirectory={{ settings.VENV_DIR }}
Environment=DJANGO_SETTINGS_MODULE=system.settings.{{ settings.CONFIG_FILE_IN_USE }}
ExecStart={{ settings.VENV_DIR }}/bin/uwsgi --ini uwsgi.ini
User={{ settings.WEB_USER }}
Group={{ settings.WEB_GROUP }}
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
